<section class="w-full h-full flex justify-center items-center my-28">
  <div
    class="flex gap-x-10 bg-stone-100 p-6 rounded-lg shadow-lg w-11/12 md:w-9/12 xl:w-6/12 items-center justify-center">
    <div class="flex flex-col gap-4 items-center">
      <h1 class="text-3xl text-center">Cadastrar Pessoa Física</h1>
      <h2 class="text-2xl">Dados Pessoais</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-2">
        <app-input label="Nome" name="username" placeholder="Insira seu nome" />
        <app-input
          label="Sobrenome"
          name="lastname"
          placeholder="Insira seu sobrenome" />
        <app-input
          type="date"
          label="Data de nascimento"
          name="birthdate"
          placeholder="Insira sua data de nascimento" />
        <app-input label="Email" name="email" placeholder="Insira seu email" />
        <app-input label="CPF" name="cpf" placeholder="Insira seu CPF" />
        <app-input label="RG" name="rg" placeholder="Insira seu RG " />
      </div>
      <app-divider />
      <h2 class="text-2xl">Endereços</h2>
      <div>
        <div
          class="grid grid-cols-1 sm:grid-cols-3 gap-2 relative pb-16 mb-6"
          *ngFor="let address of addressList">
          <app-input
            label="Logradouro"
            name="patio"
            placeholder="Insira seu logradouro" />
          <app-input
            label="Número"
            name="number"
            placeholder="Insira seu número" />
          <app-input
            type="CEP"
            label="Cep"
            name="cep"
            placeholder="Insira seu cep" />
          <app-input
            label="Complemento"
            name="complement"
            placeholder="Insira o complemento" />
          <app-input
            label="Cidade"
            name="city"
            placeholder="Insira sua cidade" />
          <app-input-select label="Estado" name="state" [options]="stateList" />
          <app-button
            text="Remover endereço"
            [variant]="dangerVariant"
            class="absolute bottom-0 right-0"
            (change)="removeAddress(address.id)" />
        </div>
        <div class="flex justify-between pt-6">
          <app-button text="Adicionar novo endereço" (change)="addAddress()" />
        </div>
      </div>
      <app-divider />
      <h2 class="text-2xl">Contatos</h2>
      <div>
        <div
          class="grid grid-cols-1 sm:grid-cols-3  gap-2 relative pb-16 mb-6"
          *ngFor="let contact of contactList">
          <app-input
            label="Nome"
            name="name"
            placeholder="Insira seu nome para contato" />
          <app-input
            label="Contato"
            name="contact"
            placeholder="Insira seu contato" />
          <app-input-select
            label="Tipo Contato"
            name="contacttype"
            [options]="contactTypes" />
          <app-button
            text="Remover contato"
            [variant]="dangerVariant"
            class="absolute bottom-0 right-0"
            (change)="removeContact(contact.id)" />
        </div>
        <div class="flex justify-between pt-6">
          <app-button text="Adicionar novo contato" (change)="addContact()" />
        </div>
      </div>
      <app-divider />
      <div class="flex justify-center items-center">
        <app-button text="Salvar" />
      </div>
    </div>
  </div>
</section>
