<section class="w-full h-screen flex justify-center items-center">
    <div class="flex gap-x-10 bg-stone-100 p-6 rounded-lg shadow-lg max-w-screen-md">
        <div class="flex flex-col gap-4">
            <h1 class="text-3xl">
                Cadastrar Pessoa Física
            </h1>
            <div class="grid grid-cols-3 gap-2">
                <app-input label="Nome" name="username" placeholder="Insira seu nome" />
                <app-input label="Sobrenome" name="lastname" placeholder="Insira seu sobrenome" />
                <app-input type="date" label="Data de nascimento" name="birthdate" placeholder="Insira sua data de nascimento" />
                <app-input label="Email" name="email" placeholder="Insira seu email" />
                <app-input label="CPF" name="cpf" placeholder="Insira seu CPF" />
                <app-input label="RG" name="rg" placeholder="Insira seu RG " />
            </div>  
            <app-divider />
            
        </div>
    </div>
</section>  